script: script/cibuild
cache: bundler
language: ruby

before_install:
  - gem update --system
  - gem install bundler

install:
  - script/rebund download
  - bundle install

rvm:
  - 2.5
  - 2.4
  - 2.3

after_script:
  - script/rebund upload
notifications:
  # irc:
  #   on_success: change
  #   on_failure: change
  #   channels:
  #   - irc.freenode.org#jekyll
  #   template:
  #   - '%{repository}#%{build_number} (%{branch}) %{message} %{build_url}'
  email: false
env:
  global:
